name: Build & Push Docker Images to ECR

on:
  pull_request:
    types: [closed]
    branches:
      - master

jobs:
  build-and-push:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # - name: Show OIDC subject
      #   run: |
      #     echo "Requesting token"
      #     curl -H "Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" \
      #     "$ACTIONS_ID_TOKEN_REQUEST_URL&audience=sts.amazonaws.com"

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ secrets.REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build & Push API image
        run: |
          docker build -t upload-api:latest ./api
          docker tag upload-api:latest ${{ secrets.ECR_REGISTRY }}/upload-api:latest
          docker push ${{ secrets.ECR_REGISTRY }}/upload-api:latest

      - name: Update ECS Service
        run: |
         aws ecs update-service \
          --cluster  ${{ vars.CLUSTER }} \
          --service  ${{ vars.SERVICE }} \
           --force-new-deployment \
           --region ${{ secrets.REGION }}